{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label{% if not collector.messages|length %} disabled{% endif %}">
        <span class="icon">{{ include('@PhlexibleMessage/Icon/messages.svg') }}</span>
        <strong>Messages</strong>
        {% if collector.messages|length %}
        <span class="count">
            <span>{{ collector.messages|length }}</span>
        </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}

    <h2>Messages</h2>

    {% if not collector.messages|length %}
    <div class="empty">
        <p>No messages were posted during the request.</p>
    </div>

    {% else %}

    Priorities:<br/>{% for priority in collector.priorities %}- {{ priority.name }}: {{ priority.count }}
    <br/>{% endfor %}<br/>
    Types:<br/>{% for type in collector.types %}- {{ type.name }}: {{ type.count }}<br/>{% endfor %}<br/>
    Errors: {{ collector.countErrors }}<br/>
    <br/>
    {% for message in collector.messages %}
        {{ message.createdAt }}
        {{ message.subject }}
        [{{ message.typeName }}]
        [{{ message.priorityName }}]
        [{{ message.channel }}]
        [{{ message.role }}]
        by {{ message.user }}
        <br/>
        {% if message.body %}
            {{ message.body }}
            <br/>
        {% endif %}
    {% endfor %}

    {% endif %}

{% endblock %}
