<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{{ appTitle }} - {{ projectTitle }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=7"/>
</head>
<body>
<noscript>{{ noScript }}</noscript>
</body>
<link href="{{ baseUrl }}/resources/app/favicon" rel="shortcut icon" type="image/x-ico"/>
<link href="{{ extPath }}/resources/css/ext-all.css" media="screen" rel="stylesheet" type="text/css"/>
{% if theme != "default" %}
    <link id="theme" href="{{ extPath }}/resources/css/xtheme-{{ theme }}.css" media="screen" rel="stylesheet"
          type="text/css"/>
{% endif %}
<link href="{{ baseUrl }}/users/resources/styles" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ baseUrl }}/users/resources/sprites" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{{ extPath }}/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{{ extPath }}/ext-all{% if debug %}-debug{% endif %}.js"></script>
<script type="text/javascript" src="{{ extPath }}/locale/ext-lang-de.js"></script>
<script type="text/javascript">
    //<![CDATA[
    Ext.BLANK_IMAGE_URL = "{{ basePath }}/bundles/phlexiblegui/images/blank.gif";
    Ext.QuickTips.init();
    var MWF = {
        title: "{{ appTitle }}",
        version: "{{ appVersion }}",
        project: "{{ projectTitle }}",
        baseUrl: "{{ baseUrl }}",
        basePath: "{{ basePath }}"
    };
    //]]>
</script>
<script type="text/javascript" src="{{ baseUrl }}/users/resources/translations/de"></script>
<script type="text/javascript" src="{{ baseUrl }}/users/resources/scripts"></script>
{{ scripts|raw }}
<script type="text/javascript">
    //<![CDATA[
    Ext.onReady(function () {
        win = new MWF.core.users.ChangePasswordWindow({
            title: "{{ appTitle }} - {{ projectTitle }}",
            csrfToken: "{{ csrfToken }}"
        });
        win.show();
    });
    //]]>
</script>
</html>
