<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
    <title>{{ project.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8; IE=7"/>
    <link rel="icon" type="image/png" href="{{ asset("bundles/phlexiblegui/images/phlexible.png") }}">
    <link href="{{ asset("resources/css/ext-all.css", "extjs") }}" media="screen" rel="stylesheet" type="text/css"/>
    {% set theme = app.user.property("theme", "default") %}
    {% if  theme != "default" %}
    <link id="theme" href="{{ asset("/resources/css/xtheme-" ~ theme ~ ".css", "extjs") }}" media="screen" rel="stylesheet" type="text/css"/>
    {% endif %}
    <link href="{{ path("asset_css") }}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ path("asset_icons") }}" media="screen" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        #loading {
            position: absolute;
            left: 45%;
            top: 40%;
            padding: 2px;
            z-index: 20001;
            height: auto;
            border: 1px solid #ccc;
        }

        #loading a {
            color: #225588;
        }

        #loading .loading-indicator {
            background: white;
            color: #444;
            font: bold 13px tahoma, arial, helvetica;
            padding: 10px;
            margin: 0;
            height: auto;
        }

        #loading-msg {
            font: normal 10px arial, tahoma, sans-serif;
        }
    </style>
</head>
<body>
<div id="loading" style="display: block">
    <div class="loading-indicator">
        <img alt="Loading..." src="{{ asset("bundles/phlexiblegui/images/loading-large.gif") }}" width="32" height="32" style="margin-right:8px;float:left;vertical-align:top;"/>
        {{ project.title }} {{ project.version }} - <a href="http://{{ project.url }}" target="_blank">{{ project.url }}</a><br/><span id="loading-msg">Loading...</span>
    </div>
</div>
<noscript>{{ noScript }}</noscript>
</body>
<script type="text/javascript" src="{{ asset("adapter/ext/ext-base.js", "extjs") }}"></script>
{% if app.debug %}
<script type="text/javascript" src="{{ asset("ext-all-debug.js", "extjs") }}"></script>
{% else %}
<script type="text/javascript" src="{{ asset("ext-all.js", "extjs") }}"></script>
{% endif %}
{% set language = app.user.getProperty("interfaceLanguage", "en") %}
<script type="text/javascript" src="{{ asset("locale/ext-lang-" ~ language ~ ".js", "extjs") }}"></script>
<script type="text/javascript">
    //<![CDATA[
    Ext.BLANK_IMAGE_URL = "{{ asset("bundles/phlexiblegui/images/blank.gif") }}";
    Ext.QuickTips.init();
    Ext.require = function(require) {};
    Ext.provide = function(provide) {
        var provides = provide.split('.');
        if (provides.length < 2) {
            return;
        }
        provides.pop();
        provide = provides.join('.');
        Ext.namespace(provide);
    };

    var Phlexible = {
        title: "{{ project.title }}",
        version: "{{ project.version }}",
        project: "{{ project.title }}",
        baseUrl: "{{ app.request.baseUrl }}/admin",
        basePath: "{{ app.request.basePath }}/admin",
        bundlePath: "{{ app.request.basePath }}/bundles",
        config: {{ render(path("gui_config"))|raw }}
    };
    //]]>
</script>
{{ scripts|raw }}
<script type="text/javascript" src="{{ path("asset_translations", {language: language}) }}"></script>
<script type="text/javascript" src="{{ path("asset_scripts") }}"></script>
<script type="text/javascript" src="{{ path("gui_routes") }}"></script>
<script type="text/javascript">
    //<![CDATA[
    Ext.onReady(function () {
    });
    //]]>
</script>
</html>
